body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link-button {
  background: transparent;
  color: #4ecdc4;
  text-decoration: underline;
  outline: none;
  border: none;
  transition: 300ms ease-in-out;
  font-size: medium;
}

.link-button:hover {
  background-color: #ffe66d;
}
