.radio-buttons-div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    border:1px dotted #333333;
    padding:10px 25px;
    border-radius: 15px;
    transition:500ms ease-in-out;
}

.radio-buttons-div:hover {

}

.radio-buttons-div input {
    font-size: calc(15px + 1vmin);
}

.radio-buttons-div input:hover {
    transform: scale(1.1);
    cursor: pointer;
}