.card {
  border: 1px solid #4ecdc4;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 800px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.detailsContainer {
  display: flex;
  padding: 15px;
}
.detailsContainer > div {
  margin: 10px;
}

.detailsContainer .icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

.head-flex h3 {
  color: #1a535c;
  display: inline-block;
}

.meaning {
  width: 60%;
}
