button.icon-button {
  background-color: transparent;
  border: none;
  color: #ff6b6b;
  font-size: x-large;
  transition: 300ms ease-in-out;
  margin-bottom: 10px;
}

button.icon-button:hover {
  color: #4ecdc4;
  cursor: pointer;
  transform: scale(110%);
}
