.input {
    margin:10px;
    transition: 200ms ease-in-out;
    font-size: calc(15px + 1vmin);
    border-radius: 3px;
    padding:5px 10px;
}

.input:hover {
    transform: scale(1,1);
}

.input-div {
    display: flex;
    justify-content: center;
    margin:10px 25px;
}

.search-icon {
    transform: translateY(25px);
}